/* Our default values set as CSS variables */
:root {
  --color-bg: #a9d6f1;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
}

/* Basic page style resets */
.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--color-bg);
  font-size: 14px;
}
/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.gameGrid {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 1fr);
}

.buttonArea {
  display: flex;
  column-gap: 260px;
}

h1{
  font-size: 24px;
}



/* Button  */
button {
  padding: 10px;
  border-radius: 5px;
  background: white;
  
}


#gameButtonArea > button {
  width: 150px;
  height: 150px;
  margin: 1px;
}



#button1 {
  background: lightgreen;
}

#button1:active,
#button1.lit {
  background: green;
}

#button2 {
  background: lightpink;
}

#button2:active,
#button2.lit {
  background: red;
}

#button3 {
  background: lightyellow;
}

#button3:active,
#button3.lit {
  background: yellow;
}

#button4 {
  background: lightblue;
}

#button4:active,
#button4.lit {
  background: blue;
}
#button5 {
  background: grey;
}

#button5:active,
#button5.lit {
  background: blue;
}

#button6 {
  background: green;
}

#button6:active,
#button6.lit {
  background: blue;
}

#button7 {
  background: violet;
}

#button7:active,
#button7.lit {
  background: teal;
}

#button8 {
  background: white;
}

#button8:active,
#button8.lit {
  background: blue;
}

#button9 {
  background: lightgrey;
}

#button9:active,
#button9.lit {
  background: blue;
}
